<a href="https://colab.research.google.com/github/matthew-yang97/yahoo/blob/main/yk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import torch
matplotlib.rc("font", family="MS Gothic")

In [248]:
df = pd.read_csv("population.csv", parse_dates=[0], index_col=0)
city_kanji=["渋谷", "新宿", "丸の内","品川", "下北沢", "仙台駅", "八王子", "大阪難波", "札幌大通", "福岡天神",]
city_english=["shibuya","shinjuku","marunouchi","shinagawa","shimokitazawa","hachioji","osaka","sapporo","sendai","fukuoka"]

变量列表
城市[shibuya,shinjuku,marunouchi,shinagawa,shimokitazawa,hachioji,osaka,sapporo,sendai,fukuoka]
渋谷 新宿 丸の内 品川 下北沢 仙台駅 八王子 大阪難波 札幌大通 福岡天神
---
## 变量名称 城市同样后缀
紧急事态 df_e
天气 df_w  
人流量 df
新冠感染 df_c
搜索量 df_s

In [3]:
df.head()

               渋谷     新宿     丸の内     品川  ...   大阪難波   札幌大通    仙台駅   福岡天神
日付                                       ...
2020-01-01  40300  32800   81600  28900  ...  32500   8200  14100  10900
2020-01-02  59500  60300  118000  36300  ...  52200  22200  36300  32600
2020-01-03  70000  60100  120000  40200  ...  56300  19600  33400  28200
2020-01-04  78100  64400  118000  40100  ...  57400  21200  31600  28200
2020-01-05  64100  52500  103000  36600  ...  44200  17900  24800  20800

[5 rows x 10 columns]

read data of population

In [15]:
df1 = pd.DataFrame()
df1['渋谷'] = df['渋谷']
df2 = pd.DataFrame()
df2['新宿'] = df['新宿']
df3 = pd.DataFrame()
df3['丸の内'] = df['丸の内']
df4 = pd.DataFrame()
df4['品川'] = df['品川']
df5 = pd.DataFrame()
df5['下北沢'] = df['下北沢']
df6 = pd.DataFrame()
df6['仙台駅'] = df['仙台駅']
df7 = pd.DataFrame()
df7['八王子'] = df['八王子']
df8 = pd.DataFrame()
df8['大阪難波'] = df['大阪難波']
df9 = pd.DataFrame()
df9['札幌大通'] = df['札幌大通']
df10 = pd.DataFrame()
df10['福岡天神'] = df['福岡天神']

日付
2020-01-01    40302
2020-01-02    59502
2020-01-03    70002
2020-01-04    78102
2020-01-05    64102
              ...
2021-09-03    58602
2021-09-04    51902
2021-09-05    46802
2021-09-06    57102
2021-09-07    60002
Name: 渋谷, Length: 616, dtype: int64

adfuller_test

In [168]:
def adfuller_test(p):
  result = adfuller(p)
  labels = ['test statisitc', 'p-value', '#lags', '#observation']
  for value, label in zip(result, labels):
    print(label +':' +str(value))
  if result[1] <= 0.05:
    print('stationary')
  else:
    print('non-stationary')

read the data of word search

In [ ]:
read the data of emergency

In [169]:
def emergency_process(p,l):
  # 
  # for i in range(l):
  #   if p[i]==0:
  #     p[i]=0
  #     continue
  #   if p[i]==1:
  #     count=0
  #   if p[i]==2 or p[i]==3:
  #     p[i]=p[i]+count
  #     count+=1
   for i in range(l):
    if p[i]==0:
      p[i]=-1
      continue
    if p[i]==1 or p[i]==2 or p[i]==3:
      p[i]=1

    return p

In [278]:
df_e = pd.read_csv("emergency.csv", parse_dates=[0], index_col=0)
for i in city_kanji:
  df_e[i]=emergency_process(df_e[i],len(df_e[i]))
df_e.describe()

               渋谷          新宿         丸の内  ...        札幌大通         仙台駅        福岡天神
count  616.000000  616.000000  616.000000  ...  616.000000  616.000000  616.000000
mean     0.610390    0.610390    0.610390  ...    0.112013   -0.040584    0.305195
std      1.153639    1.153639    1.153639  ...    0.856606    0.660113    0.999694
min     -1.000000   -1.000000   -1.000000  ...   -1.000000   -1.000000   -1.000000
25%      0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
75%      2.000000    2.000000    2.000000  ...    0.000000    0.000000    0.000000
max      3.000000    3.000000    3.000000  ...    3.000000    3.000000    3.000000

[8 rows x 10 columns]

check correlation for emergency

In [277]:
from scipy.stats import pearsonr
df_e.describe()
cols = np.array(df_e.columns)
list_plus = []
list_minus = []
for i in city_kanji:
  for col in cols:
    #adfuller_test(df_e[col])
    r, p = pearsonr(df_e[col], df[i])
    print(r, p)
    if r > 0.55:
      list_plus.append(col)
    if r < -0.55:
      list_minus.append(col)
  print(list_plus)
  list_plus.clear()
  print(list_minus)
  list_minus.clear()
  print(i)

-0.25915593097086376 6.536784467896166e-11
-0.25915593097086376 6.536784467896166e-11
-0.25915593097086376 6.536784467896166e-11
-0.25915593097086376 6.536784467896166e-11
-0.25915593097086376 6.536784467896166e-11
-0.25915593097086376 6.536784467896166e-11
-0.3029007455196274 1.5448484386686147e-14
-0.3118552889585464 2.3231797003556257e-15
-0.37045772786818343 1.7906544396242015e-21
-0.27012874776369816 9.234851614313504e-12
[]
[]
渋谷
-0.3206161446308069 3.4161241383226474e-16
-0.3206161446308069 3.4161241383226474e-16
-0.3206161446308069 3.4161241383226474e-16
-0.3206161446308069 3.4161241383226474e-16
-0.3206161446308069 3.4161241383226474e-16
-0.3206161446308069 3.4161241383226474e-16
-0.3679895304146239 3.445213621979906e-21
-0.3638950035922645 1.0076089505786147e-20
-0.41465684348022286 5.3899545754176216e-27
-0.3203403291519011 3.6321590260433446e-16
[]
[]
新宿
-0.5537545445412697 8.636562435320853e-51
-0.5537545445412697 8.636562435320853e-51
-0.5537545445412697 8.636562435320853e-51
-0.5537545445412697 8.636562435320853e-51
-0.5537545445412697 8.636562435320853e-51
-0.5537545445412697 8.636562435320853e-51
-0.5474264931912048 1.881748536644462e-49
-0.4923862846235441 6.215536088104702e-39
-0.5199350456565867 5.878033026125081e-44
-0.5107323741424454 3.153938204514675e-42
[]
['渋谷', '新宿', '丸の内', '品川', '下北沢', '八王子']
丸の内
-0.43552014426701685 6.662468627763162e-30
-0.43552014426701685 6.662468627763162e-30
-0.43552014426701685 6.662468627763162e-30
-0.43552014426701685 6.662468627763162e-30
-0.43552014426701685 6.662468627763162e-30
-0.43552014426701685 6.662468627763162e-30
-0.4327755765610466 1.6514608094035023e-29
-0.39788201341937457 8.43245005532522e-25
-0.4263151457097386 1.3543020407009161e-28
-0.3937514482257221 2.8013141289977338e-24
[]
[]
品川
-0.09658396448458921 0.01648980419486577
-0.09658396448458921 0.01648980419486577
-0.09658396448458921 0.01648980419486577
-0.09658396448458921 0.01648980419486577
-0.09658396448458921 0.01648980419486577
-0.09658396448458921 0.01648980419486577
-0.1396496493257052 0.0005089136604914063
-0.1611872041683158 5.850949194654745e-05
-0.2232136068213629 2.1489237889834608e-08
-0.11344787985162856 0.004816008070071014
[]
[]
下北沢
-0.4420237194996458 7.497843999046811e-31
-0.4420237194996458 7.497843999046811e-31
-0.4420237194996458 7.497843999046811e-31
-0.4420237194996458 7.497843999046811e-31
-0.4420237194996458 7.497843999046811e-31
-0.4420237194996458 7.497843999046811e-31
-0.48002374387236435 8.007863485015234e-37
-0.4771492188162127 2.4094568276049936e-36
-0.5600500659094396 3.769236338076931e-52
-0.46103003469203246 9.595205802580711e-34
[]
['仙台駅']
仙台駅
-0.4395485510605738 1.7314912660334158e-30
-0.4395485510605738 1.7314912660334158e-30
-0.4395485510605738 1.7314912660334158e-30
-0.4395485510605738 1.7314912660334158e-30
-0.4395485510605738 1.7314912660334158e-30
-0.4395485510605738 1.7314912660334158e-30
-0.4550214327159673 8.248469066890657e-33
-0.41769325933867474 2.0936946607338464e-27
-0.4809433718561843 5.616984246009128e-37
-0.40978466126643465 2.408918238358291e-26
[]
[]
八王子
-0.5331129661300111 1.5790454151504295e-46
-0.5331129661300111 1.5790454151504295e-46
-0.5331129661300111 1.5790454151504295e-46
-0.5331129661300111 1.5790454151504295e-46
-0.5331129661300111 1.5790454151504295e-46
-0.5331129661300111 1.5790454151504295e-46
-0.5964410119785502 1.2948914989059523e-60
-0.5418894887231788 2.644261908741764e-48
-0.5342458701459593 9.376812771752677e-47
-0.5255833764604935 4.7988162824675494e-45
[]
['大阪難波']
大阪難波
-0.47857908256657616 1.3948158983120569e-36
-0.47857908256657616 1.3948158983120569e-36
-0.47857908256657616 1.3948158983120569e-36
-0.47857908256657616 1.3948158983120569e-36
-0.47857908256657616 1.3948158983120569e-36
-0.47857908256657616 1.3948158983120569e-36
-0.4788847530072108 1.2405675283269765e-36
-0.5061995826590798 2.1456793681592223e-41
-0.4919662465956562 7.355186594894458e-39
-0.4355052884975682 6.695435087160162e-30
[]
[]
札幌大通
-0.49849054921756053 5.2406633218451866e-40
-0.49849054921756053 5.2406633218451866e-40
-0.49849054921756053 5.2406633218451866e-40
-0.49849054921756053 5.2406633218451866e-40
-0.49849054921756053 5.2406633218451866e-40
-0.49849054921756053 5.2406633218451866e-40
-0.5290047607849793 1.0280343928592096e-45
-0.5041570360517149 5.043478053174341e-41
-0.5160654482457909 3.183900948598078e-43
-0.5065641323569874 1.8410073440132487e-41
[]
[]
福岡天神

read data of covid

In [279]:
from scipy.stats import pearsonr
df_c = pd.read_csv("covid_increase.csv", parse_dates=[0], index_col=0)
df_c.describe()

                 日本
count    616.000000
mean    2588.144481
std     4445.579393
min        0.000000
25%      207.000000
50%     1015.000000
75%     2759.500000
max    25892.000000

In [280]:

cols = np.array(df_c.columns)
list_plus = []
list_minus = []
for i in city_kanji:
  #adfuller_test(df_e[col])
  r, p = pearsonr(df_c['日本'], df[i])
  print(r, p)
  if r > 0.55:
    list_plus.append(col)
  if r < -0.55:
    list_minus.append(col)
  print(list_plus)
  list_plus.clear()
  print(list_minus)
  list_minus.clear()
  print(i)

0.08035600057303487 0.0462004535581473
[]
[]
渋谷
0.029659464847246457 0.4624643193132274
[]
[]
新宿
-0.17817431673971987 8.633770728313892e-06
[]
[]
丸の内
-0.1413483885064259 0.0004336166936396457
[]
[]
品川
0.13713889371398139 0.0006427023979515627
[]
[]
下北沢
-0.09302207362056704 0.020939902048488022
[]
[]
仙台駅
-0.07263373919453599 0.07163349435870024
[]
[]
八王子
-0.1311519259363106 0.0011039658354751703
[]
[]
大阪難波
-0.21422060996599152 7.941150745974225e-08
[]
[]
札幌大通
-0.12251706696667086 0.0023183052213097185
[]
[]
福岡天神

read data of weather

In [286]:
import string
def weather_process(p,l):
  #分三种
  # for i in range(l):
  #   if "晴" in p[i] or "阴" in p[i]:
  #     p[i]="1"
  #     p[i]=float(p[i])
  #     continue
  #   if "大" in p[i] or "中" in p[i] or "暴" in p[i]:
  #     p[i]="-1"
  #     p[i]=float(p[i])
  #     continue
  #   if "小" in p[i]or "多云" in p[i]:
  #     p[i]="0"
  #     p[i]=float(p[i])
  #     continue
  ##############分五种
  # for i in range(l):
  #   if  "小" in p[i]:
  #     p[i]="0"
  #     p[i]=float(p[i])
  #     continue
  #   if "中" in p[i] :
  #     p[i]="-1"
  #     p[i]=float(p[i])
  #     continue
  #   if "大" in p[i] or "暴" in p[i]:
  #     p[i]="-2"
  #     p[i]=float(p[i])
  #     continue
  #   if "晴" in p[i]:
  #     p[i]="2"
  #     p[i]=float(p[i])
  #     continue
  #   if "阴" in p[i] or "多云" in p[i]:
  #     p[i]="1"
  #     p[i]=float(p[i])
  #     continue
  ######只考虑恶劣天气影响
  for i in range(l):
    if "大" in p[i] or "暴" in p[i] or "中" in p[i]:
      p[i]="-1"
      p[i]=float(p[i])
      continue
    else:
      p[i]="1"
      p[i]=float(p[i])
      continue
    
      
  return p

In [289]:
df_w = pd.read_csv("weather.csv", parse_dates=[0], index_col=0)
df_w.describe()

         渋谷   新宿  丸の内   品川  下北沢  八王子 大阪難波 札幌大通  仙台駅 福岡天神
count   616  616  616  616  616  616  616  616  616  616
unique   36   36   36   36   36   39   41   48   43   45
top      多云   多云   多云   多云   多云   多云   多云   多云   多云   多云
freq     76   76   76   76   76   72   90   70   68   78

In [290]:
for i in city_kanji:
  df_w[i]=weather_process(df_w[i],len(df_w[i]))
cols = np.array(df_w.columns)
list_plus = []
list_minus = []
# for col in cols:
#     adfuller_test(df_w[col])
for i in city_kanji:
  for col in cols:
    r, p = pearsonr(df_w[col], df[i])
    print(r, p)
    if r > 0.55:
      list_plus.append(col)
    if r < -0.55:
      list_minus.append(col)
  print(list_plus)
  list_plus.clear()
  print(list_minus)
  list_minus.clear()
  print(i)

-0.017262262464876638 0.6689425548781454
-0.017262262464876638 0.6689425548781454
-0.017262262464876638 0.6689425548781454
-0.017262262464876638 0.6689425548781454
-0.017262262464876638 0.6689425548781454
-0.008786597383210444 0.827710494982408
0.0756575289933703 0.06056650664444346
-0.00030954833931703246 0.9938825327798798
-0.0107423562792055 0.7901741969268733
0.02334183953496684 0.5631079559375768
[]
[]
渋谷
-0.03387380215068703 0.40132403665278515
-0.03387380215068703 0.40132403665278515
-0.03387380215068703 0.40132403665278515
-0.03387380215068703 0.40132403665278515
-0.03387380215068703 0.40132403665278515
-0.025605193575576817 0.5258736964026486
0.06380330196943196 0.11366052145744615
-0.01954788501547372 0.628225069705726
-0.02794159983384319 0.4887998938665716
0.008057829519533915 0.8418035127779863
[]
[]
新宿
-0.03486246531593086 0.3877149299197818
-0.03486246531593086 0.3877149299197818
-0.03486246531593086 0.3877149299197818
-0.03486246531593086 0.3877149299197818
-0.03486246531593086 0.3877149299197818
-0.053077056348617015 0.18831180071170284
0.02051632422619659 0.6112983504502741
-0.0073700847522481005 0.8551498331689719
-0.035184855210882625 0.3833385700968071
-0.04007875153718284 0.3206577681198205
[]
[]
丸の内
-0.02738717486240677 0.497468377767859
-0.02738717486240677 0.497468377767859
-0.02738717486240677 0.497468377767859
-0.02738717486240677 0.497468377767859
-0.02738717486240677 0.497468377767859
-0.03365057655507249 0.40443590184904643
0.03334071268720796 0.4087793303307383
-0.005388264507740962 0.8938275807974854
-0.03173760083665287 0.4316889974164838
-0.003020901305025379 0.9403542029708101
[]
[]
品川
0.03177344537984515 0.4311687730813303
0.03177344537984515 0.4311687730813303
0.03177344537984515 0.4311687730813303
0.03177344537984515 0.4311687730813303
0.03177344537984515 0.4311687730813303
0.04423804890221674 0.272962321504975
0.10597618758514112 0.008480052565554794
-0.025176337582443573 0.5328312154041092
0.01815814738042933 0.6528582056167624
0.059560704110713444 0.13979191979211197
[]
[]
下北沢
-0.002764978671464128 0.9453989940179648
-0.002764978671464128 0.9453989940179648
-0.002764978671464128 0.9453989940179648
-0.002764978671464128 0.9453989940179648
-0.002764978671464128 0.9453989940179648
-0.020907296000608356 0.6045223949134102
0.06533216319558993 0.10524534427022106
0.004629952971110394 0.9086990644767713
-0.027609683358037516 0.4939796585586686
-0.014709835560892809 0.7155842030734415
[]
[]
仙台駅
-0.02352995223921405 0.5599656077329844
-0.02352995223921405 0.5599656077329844
-0.02352995223921405 0.5599656077329844
-0.02352995223921405 0.5599656077329844
-0.02352995223921405 0.5599656077329844
-0.01782053974797294 0.6589010995996497
0.07112711374699923 0.07773575538262363
-0.01089085580410745 0.7873426558177701
-0.004957398405451366 0.9022732033815062
0.0008413960047089276 0.9833729002271258
[]
[]
八王子
-0.05871534465525552 0.14551081191662696
-0.05871534465525552 0.14551081191662696
-0.05871534465525552 0.14551081191662696
-0.05871534465525552 0.14551081191662696
-0.05871534465525552 0.14551081191662696
-0.055926585926412926 0.16564701092475057
0.013473320171465068 0.7385795684139456
-0.04798137163850082 0.23438753190706207
-0.04619445455439938 0.2522925566247367
-0.04368190939176437 0.27904322543393356
[]
[]
大阪難波
-0.03939365022289255 0.329006124102682
-0.03939365022289255 0.329006124102682
-0.03939365022289255 0.329006124102682
-0.03939365022289255 0.329006124102682
-0.03939365022289255 0.329006124102682
-0.058367630376575025 0.14791432798692414
0.0009439708972330423 0.9813462328814975
0.00836385288538087 0.8358791551875102
-0.038413734453083326 0.34118895238829267
-0.06119209592897755 0.12924521425351435
[]
[]
札幌大通
-0.05286296953483185 0.1901025564380815
-0.05286296953483185 0.1901025564380815
-0.05286296953483185 0.1901025564380815
-0.05286296953483185 0.1901025564380815
-0.05286296953483185 0.1901025564380815
-0.05780414636169755 0.15187340414155182
0.013447021761584898 0.7390712653118662
-0.020895906287576798 0.6047193146022058
-0.04557515307542047 0.25871438229773513
-0.03590376194817417 0.37368885760528997
[]
[]
福岡天神

read word search

In [291]:
df_s = pd.read_csv("word.csv", parse_dates=[0], index_col=0)
df_s.describe()

                 渋谷            新宿  ...            台風           大雨
count    616.000000    616.000000  ...    616.000000   616.000000
mean     866.850649   1502.857143  ...   3095.064935   192.094156
std      664.594858   1023.688669  ...   9920.647156   587.449771
min      340.000000    620.000000  ...     30.000000     0.000000
25%      617.500000   1100.000000  ...    127.500000     0.000000
50%      740.000000   1300.000000  ...    250.000000    20.000000
75%      930.000000   1600.000000  ...   1100.000000   130.000000
max    11000.000000  18300.000000  ...  81600.000000  8100.000000

[8 rows x 60 columns]